<div class="container mt-5">
    <h2 class="text-center mb-3">Liste des employers</h2>
    <table class="table table-no-border-top">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Email</th>
          <th>Gsm</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employer of employers">
          <td>{{ employer.lastname }}</td>
          <td>{{ employer.firstname }}</td>
          <td>{{ employer.email }}</td>
          <td>{{ employer.gsm }}</td>
          <td>
            <button class="btn btn-secondary" [routerLink]="[employer.id]">Détails</button>
            <button class="btn btn-success" [routerLink]="[employer.id,'edit']" style="margin-left: 5px;">Modifier</button>
            <button class="btn btn-danger" (click)="deleteEmployer(employer.id)" style="margin-left: 5px;">Supprimer</button>
            <button class="btn btn-primary" [routerLink]="[employer.id,'history']" style="margin-left: 5px;">Historique des réservations</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="text-right">
      <button class="btn btn-success btn-sm" [routerLink]="['create']">Ajouter un employer</button>
    </div>
  </div>
  