<div class="container-fluid">
  <div class="row justify-content-center align-items-center vh-100">
      <div class="col-lg-6">
          <form (ngSubmit)="onSubmit()" #reservationForm="ngForm">
              <div class="form-group row">
                  <label for="dateReservation" class="col-sm-4 col-form-label">Date de réservation</label>
                  <div class="col-sm-8">
                      <input type="date" class="form-control" id="dateReservation" name="dateReservation"
                             [(ngModel)]="reservation.dateReservation" required>
                  </div>
              </div>

              <div class="form-group row">
                  <label for="heureDebut" class="col-sm-4 col-form-label">Heure de début</label>
                  <div class="col-sm-8">
                      <input type="time" class="form-control" id="heureDebut" name="heureDebut"
                             [(ngModel)]="reservation.heureDebut" required>
                  </div>
              </div>

              <div class="form-group row">
                  <label for="heureFin" class="col-sm-4 col-form-label">Heure de fin</label>
                  <div class="col-sm-8">
                      <input type="time" class="form-control" id="heureFin" name="heureFin"
                             [(ngModel)]="reservation.heureFin" required>
                  </div>
              </div>

              <div class="form-group row">
                  <label for="remarquesSpeciales" class="col-sm-4 col-form-label">Remarques spéciales</label>
                  <div class="col-sm-8">
                      <textarea class="form-control" id="remarquesSpeciales" name="remarquesSpeciales"
                                [(ngModel)]="reservation.remarquesSpeciales"></textarea>
                  </div>
              </div>

              <div class="form-group row">
                  <label for="statutReservation" class="col-sm-4 col-form-label">Statut de la réservation</label>
                  <div class="col-sm-8">
                      <select class="form-control" id="statutReservation" name="statutReservation"
                              [(ngModel)]="reservation.statutReservation" required>
                          <option value="PENDING">PENDING</option>
                          <option value="CONFIRMED">CONFIRMED</option>
                          <option value="CANCELLED">CANCELLED</option>
                      </select>
                  </div>
              </div>

              <div class="form-group row">
                  <label for="modePaiement" class="col-sm-4 col-form-label">Mode de paiement</label>
                  <div class="col-sm-8">
                      <select class="form-control" id="modePaiement" name="modePaiement"
                              [(ngModel)]="reservation.modePaiement" required>
                          <option value="SUR PLACE">SUR PLACE</option>
                          <option value="EN LIGNE">EN LIGNE</option>
                      </select>
                  </div>
              </div>

              <div class="form-group row">
                <label for="etatPaiement" class="col-sm-4 col-form-label">État de paiement</label>
                <div class="col-sm-8">
                    <select class="form-control" id="etatPaiement" name="etatPaiement" [(ngModel)]="reservation.etatPaiement" required>
                        <option value="PAID">PAID</option>
                        <option value="UNPAID">UNPAID</option>
                    </select>
                </div>
            </div>
            

              <div class="form-group row">
                  <label for="user" class="col-sm-4 col-form-label">Utilisateur</label>
                  <div class="col-sm-8">
                      <select class="form-control" id="user" name="user" [(ngModel)]="reservation.user.id" required>
                          <option *ngFor="let user of users" [value]="user.id">{{ user.firstname }}</option>
                      </select>
                  </div>
              </div>

              <div class="form-group row">
                  <label for="employer" class="col-sm-4 col-form-label">Employeur</label>
                  <div class="col-sm-8">
                      <select class="form-control" id="employer" name="employer"
                              [(ngModel)]="reservation.employer.id" required>
                          <option *ngFor="let employer of employers" [value]="employer.id">{{ employer.firstname }}</option>
                      </select>
                  </div>
              </div>
              <div class="form-group row">
                  <label for="categorie" class="col-sm-4 col-form-label">Catégorie</label>
                  <div class="col-sm-8">
                      <select class="form-control" id="categorie" name="categorie" [(ngModel)]="selectedCategorie.id" (change)="selectCategorie(selectedCategorie)">
                          <option *ngFor="let categorie of categories" [value]="categorie.id">{{ categorie.nom }}</option>
                      </select>
                  </div>
              </div>

              <div class="form-group row" *ngIf="selectedCategorie.id">
                  <label for="service" class="col-sm-4 col-form-label">Service</label>
                  <div class="col-sm-8">
                      <select class="form-control" id="service" name="service" [(ngModel)]="reservation.services" required>
                          <option *ngFor="let service of services" [value]="service.id">{{ service.nom }}</option>
                      </select>
                  </div>
              </div>

              <div class="text-center">
                  <button type="submit" class="btn-sm btn-primary">Enregistrer</button>
                  <button class="btn btn-secondary btn-sm ml-2" routerLink="..">Retour</button>
              </div>
          </form>
      </div>
  </div>
</div>
