<div class="container-fluid">
    <div class="row justify-content-center align-items-center vh-100">
      <div class="col-lg-6">
        <form (ngSubmit)="onSubmit()" #reservationForm="ngForm">
          <div class="form-group">
            <label for="dateReservation">Date de réservation</label>
            <input type="date" class="form-control" id="dateReservation" name="dateReservation" [(ngModel)]="reservation.dateReservation" required>
          </div>
  
          <div class="form-group">
            <label for="heureDebut">Heure de début</label>
            <input type="time" class="form-control" id="heureDebut" name="heureDebut" [(ngModel)]="reservation.heureDebut" required>
          </div>
  
          <div class="form-group">
            <label for="heureFin">Heure de fin</label>
            <input type="time" class="form-control" id="heureFin" name="heureFin" [(ngModel)]="reservation.heureFin" required>
          </div>
  
          <div class="form-group">
            <label for="remarquesSpeciales">Remarques spéciales</label>
            <textarea class="form-control" id="remarquesSpeciales" name="remarquesSpeciales" [(ngModel)]="reservation.remarquesSpeciales"></textarea>
          </div>
  
          <div class="form-group">
            <label for="statutReservation">Statut de la réservation</label>
            <select class="form-control" id="statutReservation" name="statutReservation" [(ngModel)]="reservation.statutReservation" required>
              <option value="En attente">En attente</option>
              <option value="Confirmée">Confirmée</option>
              <option value="Annulée">Annulée</option>
            </select>
          </div>
  
          <div class="form-group">
            <label for="montantTotal">Montant total</label>
            <input type="number" class="form-control" id="montantTotal" name="montantTotal" [(ngModel)]="reservation.montantTotal" required>
          </div>
  
          <div class="form-group">
            <label for="modePaiement">Mode de paiement</label>
            <select class="form-control" id="modePaiement" name="modePaiement" [(ngModel)]="reservation.modePaiement" required>
              <option value="Carte de crédit">Carte de crédit</option>
              <option value="Virement bancaire">Virement bancaire</option>
              <option value="Espèces">Espèces</option>
            </select>
          </div>
  
          <div class="form-group">
            <label for="etatPaiement">État de paiement</label>
            <input type="text" class="form-control" id="etatPaiement" name="etatPaiement" [(ngModel)]="reservation.etatPaiement" required>
          </div>
  
          <div class="form-group">
            <label for="user">Utilisateur</label>
            <select class="form-control" id="user" name="user" [(ngModel)]="reservation.user.id" required>
              <option *ngFor="let user of users" [value]="user.id">{{ user.firstname }}</option>
            </select>
          </div>
  
          <div class="form-group">
            <label for="employer">Employeur</label>
            <select class="form-control" id="employer" name="employer" [(ngModel)]="reservation.employer.id" required>
              <option *ngFor="let employer of employers" [value]="employer.id">{{ employer.firstname }}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="categorie">Catégorie </label>
            <select class="form-control" id="categorie" name="categorie" [(ngModel)]="selectedCategorie.id" (change)="selectCategorie(selectedCategorie)">
              <option *ngFor="let categorie of categories" [value]="categorie.id">{{ categorie.nom }}</option>
            </select>
          </div>
          <div class="form-group" *ngIf="selectedCategorie.id">
            <label for="service">Service </label>
            <select class="form-control" id="service" name="service" [(ngModel)]="reservation.services" required>
              <option *ngFor="let service of services" [value]="service.id">{{ service.nom }}</option>
            </select>
          </div>

          <div class="text-center">
            <button type="submit" class="btn btn-primary">Enregistrer</button>
          </div>
        </form>
      </div>
    </div>
  </div>