.container {
  height: 60vh;
}
.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 8px;
  overflow: hidden;
}

.card-header {
  background-color: #ffa500;
  border-color: #ffa500;
  color: #fff;
  padding: 20px;
  font-size: 20px;
}

.card-body {
  padding: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.btn {
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}

.btn-primary {
  background-color: #ffa500;
  border-color: #ffa500;
  color: #fff;
}

.btn-success {
  background-color: #ff8000;
  border-color: #FF8000;
  color: #fff;
}

.btn-primary:hover {
  background-color: #b97800;
  border-color: #b97800;
  color: #fff;
}

.btn-success:hover {
  background-color: #b85c00;
  border-color: #b85c00;
  color: #fff;
}