<div class="container mt-5">
<div class="row justify-content-center">
    <div class="col-md-6">
    <div class="card">
        <div class="card-header">Réinitialisation du mot de passe</div>
        <div class="card-body">
        <p>Vous réinitialisez le mot de passe pour l'adresse e-mail : <strong>{{user.email}}</strong></p>
        <form [formGroup]="resetPasswordForm" (ngSubmit)="submitResetPasswordForm()">
            <div class="form-group">
            <label for="password">Nouveau mot de passe</label>
            <div class="input-group">
                <input type="{{showPassword ? 'text' : 'password'}}" id="password" class="form-control" formControlName="password" placeholder="Entrez votre nouveau mot de passe" />
                <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" (click)="togglePasswordVisibility()">
                    {{showPassword ? 'Cacher' : 'Afficher'}}
                </button>
                </div>
            </div>
            <div *ngIf="resetPasswordForm.controls['password'].errors && resetPasswordForm.controls['password'].touched" class="alert alert-danger mt-1">
                <div *ngIf="resetPasswordForm.controls['password'].errors?.['required']">Le mot de passe est requis.</div>
                <div *ngIf="resetPasswordForm.controls['password'].errors?.['minlength']">Le mot de passe doit comporter au moins 6 caractères.</div>
            </div>
            </div>
            <div class="form-group">
            <label for="confirmPassword">Confirmez le mot de passe</label>
            <div class="input-group">
                <input type="{{showPassword ? 'text' : 'password'}}" id="confirmPassword" class="form-control" formControlName="confirmPassword" placeholder="Confirmez votre nouveau mot de passe" />
                <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" (click)="togglePasswordVisibility()">
                    {{showPassword ? 'Cacher' : 'Afficher'}}
                </button>
                </div>
            </div>
            <div *ngIf="resetPasswordForm.controls['confirmPassword'].invalid && resetPasswordForm.controls['confirmPassword'].touched" class="alert alert-danger mt-1">
                <div *ngIf="resetPasswordForm.controls['confirmPassword'].errors?.['required']">La confirmation du mot de passe est requise.</div>
                <div *ngIf="resetPasswordForm.controls['confirmPassword'].errors?.['passwordMismatch']">Les mots de passe ne correspondent pas.</div>
            </div>
            </div>
            <div *ngIf="resetPasswordForm.valid && resetPasswordForm.controls['confirmPassword'].value === resetPasswordForm.controls['password'].value" class="alert alert-success mt-1">
                Les mots de passe correspondent.
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="!resetPasswordForm.valid">Réinitialiser le mot de passe</button>
        </form>
        </div>
    </div>
    </div>
</div>
</div>
