<div>
  <h1 class="mt-5 mb-5 text-center">Statistiques</h1>
  <div class="row mb-5">
    <div class="col-4">
      <h3>Total des réservations</h3>
      <ngx-charts-number-card
        [view]="[250,200]"
        [cardColor]="cardColor"
        [results]="totalReservations">
      </ngx-charts-number-card>
    </div>
    <div class="col-4">
      <h3>Statut des réservations</h3>
      <ngx-charts-pie-chart
      [view]="[350, 200]"
      [results]="reservationStatus"
      [gradient]="false"
      [legend]="false"
      [labels]="true">
    </ngx-charts-pie-chart>
    </div>
    <div class="col-4">
      <h3>Revenu total des réservations</h3>
      <ngx-charts-number-card
      [view]="[250,200]"
      [cardColor]="cardColor"
      [results]="totalRevenueFromBookings">
      </ngx-charts-number-card>
    </div>
  </div>
    
  <div class="row mb-5">
    <div class="col-4">
      <h3>Réservations par jour</h3>
      <ngx-charts-bar-vertical
        [view]="[450,400]"
        [results]="chartData"
        [xAxis]="true"
        [yAxis]="true"
        [gradient]="false"
        [legend]="false"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        [xAxisLabel]="'Jour'"
        [yAxisLabel]="'Réservations'">
      </ngx-charts-bar-vertical>
      <input type="date" [(ngModel)]="startDate" (ngModelChange)="onDateRangeChange()">
      <input type="date" [(ngModel)]="endDate" (ngModelChange)="onDateRangeChange()">
    </div>
    <div class="col-4">
      <h3>Réservations par semaine</h3>
      <ngx-charts-bar-vertical
        [view]="[450, 400]"
        [results]="reservationsByWeek"
        [xAxis]="true"
        [yAxis]="true"
        [gradient]="false"
        [legend]="false"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        [xAxisLabel]="'Semaine'"
        [yAxisLabel]="'Réservations'">
      </ngx-charts-bar-vertical>
    </div>
    <div class="col-4">
      <h3>Réservations par mois</h3>
      <ngx-charts-bar-vertical
          [view]="[450, 400]"
          [results]="reservationsByMonth"
          [xAxis]="true"
          [yAxis]="true"
          [gradient]="false"
          [legend]="false"
          [showXAxisLabel]="true"
          [showYAxisLabel]="true"
          [xAxisLabel]="'Mois'"
          [yAxisLabel]="'Réservations'">
        </ngx-charts-bar-vertical>
    </div>
  </div>
     <!--  
    <h3>Services les plus demandés</h3>
    <ul>
      <li *ngFor="let entry of mostDemandedServices | keyvalue">
        {{ entry.key }} : {{ entry.value }}
      </li>
    </ul>
  
    <h3>Employés les plus demandés</h3>
    <ul>
      <li *ngFor="let entry of mostRequestedEmployees | keyvalue">
        {{ entry.key }} : {{ entry.value }}
      </li>
    </ul>
  
    <h3>Taux d'occupation des réservations</h3>
    <p>{{ bookingOccupancyRate }}</p>
 
    <h3>Taux de conversion des réservations</h3>
    <p>{{ reservationConversionRate }}</p>
  
    <h3>Commentaires et avis des clients</h3>
    <ul>
      <li *ngFor="let commentaire of customerCommentsAndReviews">
        {{ commentaire.texte }}
      </li>
    </ul>
  -->
  </div>
  