<div id="top" class="container mt-5">
    <!-- Mentions légales -->
    <section>
      <h2>Mentions légales</h2>
      <p><strong>Nom de l'entreprise :</strong> The Golden Hour</p>
      <p><strong>Adresse postale :</strong> Chaussée de Waterloo 576, 1050 Ixelles</p>
      <p><strong>Coordonnées électroniques : </strong> <a href="mailto:Goldenhour@outlook.com">Goldenhour@outlook.com</a></p>
      <p><strong>Numéro de TVA :</strong> BE 7104.467.125</p>
    </section>
  
    <!-- Conditions générales d'utilisation -->
    <section>
        <h2>Conditions générales d'utilisation</h2>
        <p>En utilisant ce site, vous acceptez les conditions générales d'utilisation suivantes :</p>
        <ol>
          <li>Toutes les informations fournies sur ce site sont uniquement à des fins d'information générale. Nous ne garantissons pas l'exactitude, l'exhaustivité ou la fiabilité de ces informations.</li>
          <li>L'utilisation des informations ou du contenu de ce site se fait à vos propres risques. Nous ne serons pas tenus responsables des dommages ou préjudices découlant de l'utilisation de ce site.</li>
          <li>Ce site peut contenir des liens vers des sites tiers. Ces liens sont fournis uniquement à titre de commodité et n'impliquent aucune affiliation ou approbation de notre part. Nous ne sommes pas responsables du contenu de ces sites tiers.</li>
          <li>Toutes les marques de commerce, logos et noms de produits mentionnés sur ce site sont la propriété de leurs détenteurs respectifs.</li>
          <li>Toute utilisation abusive, frauduleuse ou illégale de ce site est strictement interdite.</li>
          <li>Nous nous réservons le droit de modifier, de suspendre ou de mettre fin à tout aspect de ce site, y compris son contenu et ses fonctionnalités, à tout moment et sans préavis.</li>
          <li>Nous pouvons collecter certaines informations personnelles des utilisateurs de ce site. Pour plus d'informations sur notre politique de confidentialité, veuillez vous référer à la section dédiée.</li>
          <li>En utilisant ce site, vous acceptez de vous conformer à toutes les lois et réglementations en vigueur.</li>
        </ol>
        <p>Ces conditions générales d'utilisation sont susceptibles d'être modifiées périodiquement. Veuillez consulter cette page régulièrement pour vous tenir informé des éventuelles mises à jour.</p>
      </section>
      
  
    <!-- Politique de confidentialité -->
    <section>
        <h2>Politique de confidentialité</h2>
        <p>Votre vie privée est importante pour nous. Voici comment nous collectons, utilisons et gérons vos données personnelles :</p>
        <h5>Collecte des données personnelles</h5>
        <p>Nous collectons certaines informations personnelles lorsque vous utilisez ce site, telles que votre nom, votre adresse e-mail et toute autre information que vous choisissez de nous fournir lors de votre inscription ou en remplissant des formulaires sur le site.</p>
        <h5>Utilisation des données personnelles</h5>
        <p>Nous utilisons les informations personnelles que nous collectons pour les finalités suivantes :</p>
        <ul>
          <li>Pour vous fournir les services que vous avez demandés, tels que la réservation de services d'onglerie.</li>
          <li>Pour répondre à vos demandes d'informations et de support.</li>
          <li>Pour améliorer notre site et nos services.</li>
          <li>Pour vous envoyer des informations sur nos produits, services ou promotions si vous avez donné votre consentement pour recevoir des communications marketing.</li>
        </ul>
        <h5>Gestion des données personnelles</h5>
        <p>Nous prenons des mesures de sécurité appropriées pour protéger vos données personnelles contre tout accès, utilisation ou divulgation non autorisé. Nous conservons vos données personnelles pendant la durée nécessaire aux fins pour lesquelles elles ont été collectées, sauf si la loi exige ou autorise une durée de conservation plus longue.</p>
        <p>Nous ne vendons pas, n'échangeons pas et ne louons pas vos informations personnelles à des tiers sans votre consentement explicite, sauf si cela est nécessaire pour fournir les services que vous avez demandés.</p>
        <h5>Accès et contrôle de vos données personnelles</h5>
        <p>Vous avez le droit d'accéder, de corriger et de supprimer vos données personnelles que nous détenons. Si vous souhaitez exercer ces droits ou si vous avez des questions sur notre politique de confidentialité, veuillez nous contacter en utilisant les coordonnées fournies dans la section "Mentions légales".</p>
      </section>
      
  
    <!-- Propriété intellectuelle -->
    <section>
      <h2>Propriété intellectuelle</h2>
      <p>Le contenu de ce site, y compris les textes, images, vidéos, etc., est protégé par des droits de propriété intellectuelle.</p>
    </section>
  
    <!-- Responsabilité -->
    <section>
      <h2>Responsabilité</h2>
      <p>Nous nous efforçons de fournir des informations précises et à jour sur ce site, mais nous ne pouvons garantir leur exhaustivité ou leur exactitude. L'utilisation des informations de ce site se fait donc à vos propres risques.</p>
    </section>
  
    <!-- Cookies -->
    <section>
      <h2>Cookies</h2>
      <p>Nous souhaitons informer nos utilisateurs qu'aucun cookie n'est utilisé sur ce site. Nous ne collectons pas d'informations de suivi sur nos visiteurs.</p>
    </section>
  
    <!-- Clause de juridiction -->
    <section>
        <h2>Clause de juridiction</h2>
        <p>Ce site est soumis à la juridiction de [insérez la juridiction compétente en cas de litige].</p>
        <p>Tout litige découlant de l'utilisation de ce site ou en relation avec celui-ci sera soumis à la compétence exclusive des tribunaux de [insérez la juridiction compétente].</p>
      </section>
  </div>