<div class="container mt-5">
  <h2 class="text-center mb-3">Liste des clients</h2>
  <mat-form-field class="mt-2">
    <input matInput #filterInput (keyup)="applyFilter(filterInput.value)" placeholder="Recherche">
  </mat-form-field>
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="lastname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom</th>
      <td mat-cell *matCellDef="let user">{{ user?.lastname }}</td>
    </ng-container>

    <ng-container matColumnDef="firstname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Prénom</th>
      <td mat-cell *matCellDef="let user">{{ user?.firstname }}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
      <td mat-cell *matCellDef="let user">{{ user?.email }}</td>
    </ng-container>

    <ng-container matColumnDef="gsm">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Gsm</th>
      <td mat-cell *matCellDef="let user">{{ user?.gsm }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let user">
        <button class="btn btn-primary" [routerLink]="[user?.id]">Détails</button>
        <button class="btn btn-success" [routerLink]="[user?.id,'edit']" style="margin-left: 5px;">Modifier</button>
        <button class="btn btn-danger" (click)="deleteUser(user?.id)" style="margin-left: 5px;">Supprimer</button>
        <button class="btn btn-info"  [routerLink]="[user?.id,'history']" style="margin-left: 5px;">Historique des réservations</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>
  <div class="text-right">
    <button class="btn btn-success btn-sm" [routerLink]="['create']">Ajouter un client</button>
  </div>
</div>
