<div class="container">
  <h2>Liste des clients</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Email</th>
        <th>Gsm</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.lastname }}</td>
        <td>{{ user.firstname }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.gsm }}</td>
        <td>
          <button class="btn btn-primary" [routerLink]="[user.id]">Détails</button>
          <button class="btn btn-success" [routerLink]="[user.id,'edit']" style="margin-left: 5px;">Modifier</button>
          <button class="btn btn-danger" (click)="deleteUser(user.id)" style="margin-left: 5px;">Supprimer</button>
          <button class="btn btn-info"  [routerLink]="[user.id,'history']" style="margin-left: 5px;">Historique des réservations</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="text-right">
    <button class="btn btn-success btn-sm" [routerLink]="['create']">Ajouter un client</button>
  </div>
</div>
