
.sidebar {
    height: 100vh;
  }
  

  .sidebar .nav-link i {
    line-height: 24px;
  }
  
  
  .sidebar .nav-link {
    padding: 12px 20px;
    font-size: 16px;
    color: #333; 
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  
  .sidebar .nav-link.active {
    background-color: #ffa500; 
    border-color: #ffa500; 
    color: #fff; 
    
  }
  

  .sidebar .nav-link:hover {
    background-color: #c8c7c7; 
  }
  .clickable {
    cursor: pointer;
  }

  @media (max-width: 768px) {
    .sidebar {
      display: none; 
    }
  
    .main-content {
      margin-left: 15px; 
    }
  }
  