<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar vh-100 overflow-y-auto">
      <div class="sidebar-sticky">
        <img class="mt-2 mb-4" src="../../../assets/images/home/logotgh.png" alt="logo" style="max-width: 250px; max-height: 250px;">
        <ul class="nav flex-column" style="height: 80vh;">
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin/dashboard" routerLinkActive="active">
              <i class="fas fa-tachometer-alt"></i> Tableau de bord
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin/users" routerLinkActive="active">
              <i class="fas fa-users"></i> Clients
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin/employers" routerLinkActive="active">
              <i class="fas fa-users"></i> Employés
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin/services" routerLinkActive="active">
              <i class="fas fa-cogs"></i> Services
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin/reservations" routerLinkActive="active">
              <i class="fas fa-calendar-alt"></i> Réservations
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin/statistiques" routerLinkActive="active">
              <i  class="fa fa-line-chart"></i> Statistiques
            </a>
          </li>
        </ul>
        <ul class="nav flex-column mt-auto">
          <li class="nav-item">
            <a class="nav-link clickable" (click)="logout()">
              <i class="fa fa-sign-out" aria-hidden="true"></i> Déconnexion
            </a>
          </li>
        </ul>
      </div>
    </nav>
    
    <main role="main" class="col-md-10 ml-sm-auto col-lg-10 px-4">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
