<div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h2>Détails de l'utilisateur</h2>
        <hr>
  
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Prénom</th>
              <th scope="col">Nom</th>
              <th scope="col">Email</th>
              <th scope="col">Rôle</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="user">
              <td>{{ user.id }}</td>
              <td>{{ user.firstname }}</td>
              <td>{{ user.lastname }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.role }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <button class="btn btn-secondary" routerLink="..">Retour</button>
    </div>
  </div>
  