  <div class="mt-4 mb-3 border-bottom">
    <h1 class="text-center">Tableau de bord</h1>
  </div>
  <div class="row justify-content-md-center mt-4">
    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title text-center">Clients</h3>
          <p class="card-text">Gérez les clients de votre site.</p>
          <a href="/admin/users" class="btn btn-primary">Accéder</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title text-center">Services</h3>
          <p class="card-text">Gérez les services proposés par votre onglerie.</p>
          <a href="/admin/services" class="btn btn-primary">Accéder</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-md-center">
    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title text-center">Réservations</h3>
          <p class="card-text">Consultez et gérez les réservations des clients.</p>
          <a href="/admin/reservations" class="btn btn-primary">Accéder</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title text-center">Statistiques</h3>
          <p class="card-text">Visualisez les statistiques et les données de votre onglerie.</p>
          <a href="/admin/statistiques" class="btn btn-primary">Accéder</a>
        </div>
      </div>
    </div>
