<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Tableau de bord</h1>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Clients</h5>
            <p class="card-text">Gérez les clients de votre site.</p>
            <a routerLink="/admin/users" class="btn btn-primary">Accéder</a>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Services</h5>
            <p class="card-text">Gérez les services proposés par votre onglerie.</p>
            <a routerLink="/admin/services" class="btn btn-primary">Accéder</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Réservations</h5>
            <p class="card-text">Consultez et gérez les réservations des clients.</p>
            <a routerLink="/admin/reservations" class="btn btn-primary">Accéder</a>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Statistiques</h5>
            <p class="card-text">Visualisez les statistiques et les données de votre onglerie.</p>
            <a href="#" class="btn btn-primary">Accéder</a>
          </div>
        </div>
      </div>
    </div>
  </main>