<div class="container mt-5">
  <h2 class="text-center mb-3">Réservations</h2>
  <mat-form-field class="mt-2">
    <input matInput #filterInput (keyup)="applyFilter(filterInput.value)" placeholder="Recherche">
  </mat-form-field>
  <table mat-table [dataSource]="reservations" matSort>

    <ng-container matColumnDef="dateReservation">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
      <td mat-cell *matCellDef="let reservation">{{ reservation.dateReservation }}</td>
    </ng-container>

    <ng-container matColumnDef="heureDebut">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>début</th>
      <td mat-cell *matCellDef="let reservation">{{ reservation.heureDebut }}</td>
    </ng-container>

    <ng-container matColumnDef="heureFin">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>fin</th>
      <td mat-cell *matCellDef="let reservation">{{ reservation.heureFin }}</td>
    </ng-container>

    <ng-container matColumnDef="statutReservation">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Statut</th>
      <td mat-cell *matCellDef="let reservation">{{ reservation.statutReservation }}</td>
    </ng-container>

    <ng-container matColumnDef="employer.firstname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Esthéticien(ne)</th>
      <td mat-cell *matCellDef="let reservation">{{ reservation.employer.firstname }}</td>
    </ng-container>

    <ng-container *ngIf="isAdminUser();" matColumnDef="user.firstname">
      <th  mat-header-cell *matHeaderCellDef mat-sort-header >Client</th>
      <td mat-cell *matCellDef="let reservation">{{ reservation.user.firstname }}</td>
    </ng-container>

    <ng-container matColumnDef="services">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Services</th>
      <td mat-cell *matCellDef="let reservation">
        <ul>
          <p *ngFor="let service of reservation.services">{{ service.nom }}</p>
        </ul>
      </td>
    </ng-container>
    

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let reservation">
        <button class="btn btn-sm btn-secondary ml-1" (click)="openD(contentD,reservation)">Détails</button>
        <button class="btn btn-sm btn-success ml-1" (click)="open(content, reservation)">Modifier</button>
        <button *ngIf="isAdminUser();" class="btn btn-sm btn-danger ml-1" (click)="deleteReservation(reservation.id)">Supprimer</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let reservation; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>
  <div class="text-right">
    <button *ngIf="isAdminUser();" class="btn btn-success btn-sm" [routerLink]="['create']">Ajouter une réservation</button>
    <button *ngIf="isAdminUser() && idUser" class="btn btn-secondary btn-sm ml-2" routerLink="../..">Retour</button>
  </div>
</div>

<ng-template #contentD let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Détails de la réservation</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <table class="table">
      <tr>
        <th>Date de réservation</th>
        <td>{{ reservationToDetails.dateReservation }}</td>
      </tr>
      <tr>
        <th>Heure de début</th>
        <td>{{ reservationToDetails.heureDebut }}</td>
      </tr>
      <tr>
        <th>Heure de fin</th>
        <td>{{ reservationToDetails.heureFin }}</td>
      </tr>
      <tr>
        <th>Remarques</th>
        <td>{{ reservationToDetails.remarquesSpeciales }}</td>
      </tr>
      <tr>
        <th>Statut</th>
        <td>{{ reservationToDetails.statutReservation }}</td>
      </tr>
      <tr>
        <th>Montant Total</th>
        <td>{{ reservationToDetails.montantTotal }}</td>
      </tr>
      <tr>
        <th>Mode de paiement</th>
        <td>{{ reservationToDetails.modePaiement }}</td>
      </tr>
      <tr>
        <th>État de paiement</th>
        <td>{{ reservationToDetails.etatPaiement }}</td>
      </tr>
      <tr>
        <th>Date d'annulation</th>
        <td>{{ reservationToDetails.dateAnnulation }}</td>
      </tr>
      <tr *ngIf="isAdminUser();">
        <th>Client</th>
        <td>{{ reservationToDetails.user.firstname }}</td>
      </tr>
      <tr>
        <th>Esthéticien(ne)</th>
        <td>{{ reservationToDetails.employer.firstname }}</td>
      </tr>
      <tr>
        <th>Services</th>
        <td>
          <ul>
            <li *ngFor="let service of reservationToDetails.services">{{ service.nom }}</li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss()">Fermer</button>
  </div>
</ng-template>

    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Mise à jour de la réservation</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="dateReservation">Date de réservation</label>
            <div class="input-group">
              <input
                id="dateReservation"
                class="form-control"
                placeholder="yyyy-mm-dd"
                name="dateReservation"
                ngbDatepicker
                #dp="ngbDatepicker"
                [(ngModel)]="dateSelectionnee"
              />
              <button class="btn btn-outline-secondary bi bi-calendar3" (click)="dp.toggle()" type="button"></button>
            </div>
          </div>
          <div class="mb-3">
            <label for="heureDebut">Heure de début</label>
            <input type="text" class="form-control" id="heureDebut" name="heureDebut" [(ngModel)]="reservationToUpdate.heureDebut">
          </div>
          <div *ngIf="isAdminUser();" class="mb-3">
            <label for="heureFin">Heure de fin</label>
            <input type="text" class="form-control" id="heureFin" name="heureFin" [(ngModel)]="reservationToUpdate.heureFin">
          </div>
          <div *ngIf="isAdminUser();" class="mb-3">
            <label for="remarquesSpeciales">Remarques spéciales</label>
            <textarea class="form-control" id="remarquesSpeciales" name="remarquesSpeciales" [disabled]="true" [(ngModel)]="reservationToUpdate.remarquesSpeciales"></textarea>
          </div>
          <div class="mb-3">
            <label for="statutReservation">Statut de la réservation</label>
            <select class="form-control" id="statutReservation" name="statutReservation" [(ngModel)]="reservationToUpdate.statutReservation">
              <option *ngFor="let status of reservationStatuses" [value]="status">{{ status }}</option>
            </select>
          </div>
          <div *ngIf="isAdminUser();" class="mb-3">
            <label for="montantTotal">Montant total</label>
            <input type="number" class="form-control" id="montantTotal" name="montantTotal" [(ngModel)]="reservationToUpdate.montantTotal">
          </div>
          <div *ngIf="isAdminUser();" class="mb-3">
            <label for="modePaiement">Mode de paiement</label>
            <input type="text" class="form-control" id="modePaiement" name="modePaiement" [(ngModel)]="reservationToUpdate.modePaiement">
          </div>
          <div *ngIf="isAdminUser();" class="mb-3">
            <label for="etatPaiement">État de paiement</label>
            <select class="form-control" id="etatPaiement" name="etatPaiement" [(ngModel)]="reservationToUpdate.etatPaiement">
              <option *ngFor="let paymentState of paymentStates" [value]="paymentState">{{ paymentState }}</option>
            </select>
          </div>
          <div *ngIf="isAdminUser();" class="mb-3">
            <label for="dateCreation">Date de création</label>
            <input type="text" class="form-control" id="dateCreation" name="dateCreation" [(ngModel)]="reservationToUpdate.dateCreation">
          </div>
          <div *ngIf="isAdminUser();" class="mb-3">
            <label for="dateModification">Date de modification</label>
            <input type="text" class="form-control" id="dateModification" name="dateModification" [(ngModel)]="reservationToUpdate.dateModification">
          </div>
          <div *ngIf="isAdminUser();" class="mb-3">
            <label for="dateAnnulation">Date d'annulation</label>
            <input type="text" class="form-control" id="dateAnnulation" name="dateAnnulation" [(ngModel)]="reservationToUpdate.dateAnnulation">
          </div>
          <div *ngIf="isAdminUser();" class="mb-3">
            <label for="user">Utilisateur</label>
            <select class="form-control" id="user" name="user" [(ngModel)]="reservationToUpdate.user">
              <option [ngValue]="reservationToUpdate.user">{{ reservationToUpdate.user.firstname }}</option>
              <option *ngFor="let user of users" [ngValue]="user">{{ user.firstname }}</option>
            </select>
          </div>
          <div *ngIf="isAdminUser();" class="mb-3">
            <label for="employer">Employeur</label>
            <select class="form-control" id="employer" name="employer" [(ngModel)]="reservationToUpdate.employer">
              <option [ngValue]="reservationToUpdate.employer">{{ reservationToUpdate.employer.firstname }}</option>
              <option *ngFor="let employer of employers" [ngValue]="employer">{{ employer.firstname }}</option>
            </select>
          </div>          
          <div *ngIf="isAdminUser();" class="mb-3">
            <label for="services">Services</label>
            <ul>
              <li *ngFor="let service of reservationToUpdate.services">{{ service.nom }}</li>
            </ul>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="updateReservation()">Enregistrer</button>
      </div>
    </ng-template>

  