section {
    height: 70vh;
}
.reservation-section {
    padding: 20px;
  }
  
  .reservation-title {
    color: #333;
    font-size: 28px;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .reservation-table {
    margin-top: 10px;
  }
  
  .btn-primary {
    background-color: #ffa500;
    border-color: #ffa500;
    color: #fff;
}

.btn-primary:hover {
    background-color: #b97800;
    border-color: #b97800;
    color: #fff;
}


  .service-item {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
  }
  
  .service-name {
    font-weight: bold;
  }
  
  .service-duration {
    color: #666;
  }
  
  .service-price {
    font-weight: bold;
    text-align: right;
    color: #f09b09;
  }
  
  
  
  