<div class="container">
    <h2>Historique des réservations</h2>
    <button class="btn btn-secondary float-right" routerLink="../..">Retour</button>
    <table class="table">
      <thead>
        <tr>
          <th>Date de réservation</th>
          <th>Heure de début</th>
          <th>Heure de fin</th>
          <th>Remarques spéciales</th>
          <th>Statut de réservation</th>
          <th>Montant total</th>
          <th>Mode de paiement</th>
          <th>Date de création</th>
          <th>Date de modification</th>
          <th>Date d'annulation</th>
          <th>État de paiement</th>
          <th>Employé</th>
          <th>Services</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reservation of reservations">
          <td>{{ reservation.dateReservation }}</td>
          <td>{{ reservation.heureDebut }}</td>
          <td>{{ reservation.heureFin }}</td>
          <td>{{ reservation.remarquesSpeciales }}</td>
          <td>{{ reservation.statutReservation }}</td>
          <td>{{ reservation.montantTotal }}</td>
          <td>{{ reservation.modePaiement }}</td>
          <td>{{ reservation.dateCreation }}</td>
          <td>{{ reservation.dateModification }}</td>
          <td>{{ reservation.dateAnnulation }}</td>
          <td>{{ reservation.etatPaiement }}</td>
          <td>{{ reservation.employer.firstname }} {{ reservation.employer.lastname }}</td>
          <td>
            <ul>
              <li *ngFor="let service of reservation.services">
                {{ service.nom }}
              </li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-secondary" routerLink="../..">Retour</button>
  </div>
  